
.course_card{
    padding: 20px;
    border: 2px solid lightgreen;
    display: flex;
}
.course_card:not(:first-child){
    margin-top: 20px;
}
.course_name{
    margin-bottom: 20px;
    font-size: 24px;
}
.course_general{
    width: 100%;
}
.course_details{
    width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}
.parameter{
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    font-weight: bold;
}
.parameter_info{
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media (max-width:1199.98px){
} 
@media (max-width:991.98px){
}
@media (max-width:767.98px){
    .header{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .user_name{
        margin: 15px 0 0 0;
        width: 100%;
    }
    .search_bar_main{
        flex-wrap: wrap;
    }
    .search_bar .btn{
        padding: 0 5px  ;
    }
    .search_bar_main > .btn{
        margin: 15px auto ;
    }
    .course_card{
        flex-direction: column;
    }
    .course_general{
        margin-bottom: 30px;
    }
    .course_desc{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
    }
    .course_details{
        width: auto;
        margin-left: 0;
    }
}
@media (max-width:575.98px){
}
@media (max-width:320px){
}