.search_bar_main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search_bar_main btn{
    line-height: 1;
}
.body_section{
    border: 2px solid aqua;
    border-top: none;
    padding: 20px;
    padding-bottom: 200px;
    margin-bottom: 50px;
}