
.create_course_general{
    padding-top: 20px;
    display:flex ;
    flex-direction: column;
    gap: 10px;
}
.create_course_input_btn{
    display: flex;
    justify-content: space-between;
}
.create_course_description{
    width: 100%;
    height: 80px;
    padding: 15px;
    color: gray;
    border: 2px solid yellow;
}

.create_course_details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 2px solid black;
    padding: 50px 15px 0 15px;
    margin-top: 20px;
}
.create_course_part{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 500px;
    gap: 10px ;
    margin-bottom: 50px;
}
.create_course_author_add{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.create_course_subtitle{
    margin-right: auto;
}
.duration_time{
    margin-top: 15px;
    font-size: 28px;
    margin-right:auto ;
    font-weight: 400;
}
.duration_time span{
    font-weight: 500;
}

.input_short{
    width: 250px;
}
.input_long{
    width: 500px;
}
@media (max-width:1199.98px){
    .create_course_part{
        width: 45%;
    }
    .input_label{
        width: 100%;
    }
    .create_course_input_long {
        width:100%;
    }
} 
@media (max-width:991.98px){
}
@media (max-width:767.98px){
    .create_course_part{
        width: 47%;
    }
    .duration_time {
        font-size: 22px;
    }
}
@media (max-width:575.98px){
    .create_course_details{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .create_course_part{
        width: 100%;
    }
    .create_course_author_add .btn{
        padding: 5px;
    }
    .create_course_input_short{
        width: 100%;
    }
    .create_course_input_btn .btn{
        display: none;
    }
}